.btn {
  text-decoration: none;
  display: inline-block;
  background: #b19cd9;
  color: #fff;
  font-size: 14px;
  padding: 12px 14px;
  transition: background 150ms ease-in-out;
  &:hover {
    background: #6a44b2;
  }
}

.container {
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1225px) {
    max-width: 90%;
  }
}

.icon {
  margin: 20px 0;
}

.loading {
  background-color: rgba(0, 0, 0, 0.774);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
