.info {
  width: 100%;
  max-width: 900px;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;

  p {
    width: 100%;
    max-width: 900px;
    position: absolute;
    top: 170%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    text-align: center;
  }
  h1 {
    font-size: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    line-height: 1;
    font-weight: 900;
    span {
      color: #8565c4;
    }
  }
  .btn {
    padding: 1rem 2rem;
  }
  @media (max-width: 1000px) {
    h1 {
      font-size: 42px;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
