@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;0,900;1,300&display=swap");

.linksContainer {
  font-size: 64px;
  width: 100%;
  max-width: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 1000px) {
    max-width: 100%;
    padding: 0 30px 20px 30px;
    flex-direction: column;
    align-items: flex-start;
    opacity: 1;
    position: absolute;
    left: 0;
    top: 5rem;
    .github-button {
      img {
        opacity: 0;
      }
    }
  }
}

.Logo {
  float: left;
  margin-left: 1%;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 1%;
  padding: 1rem 2rem;
  background: transparent;
  display: inline-block;
  vertical-align: middle;
  z-index: 10;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    #burgerMenu {
      color: #fff;
      cursor: pointer;
      display: none;
    }
  }
  @media (max-width: 1000px) {
    .Logo {
      cursor: pointer;
      margin-left: 2%;
    }
    background: rgba(26, 26, 26, 0);
    .container {
      height: 10%;
      flex-wrap: wrap;
      #burgerMenu {
        display: none;
      }
    }
  }
}

.github-button {
  img {
    margin-top: 10%;
  }
}

.mid {
  text-align: center;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
