@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap");

/* The Whole Apps Font */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@import "./global";
@import "./navbar";
@import "./home";
@import "./errors";
