$color-dark: rgb(38, 45, 55);
$color-light: rgb(242, 245, 250);
$color-gray-light: rgba($color-light, 0.15);
$color-gray-dark: rgba($color-dark, 0.15);
$color-primary: #da0202;
$color-secondary: #b71c1c;
